In [137]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [138]:
house_data = pd.read_csv("C:\\Users\\Vedika\\Desktop\\ML\\sklearn\\kc_house_data.csv")
house_data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [139]:
house_data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [140]:
house_data['sqft_basement'].value_counts()

sqft_basement
0      13126
600      221
700      218
500      214
800      206
       ...
518        1
374        1
784        1
906        1
248        1
Name: count, Length: 306, dtype: int64

In [141]:
house_data = house_data[['bedrooms','bathrooms','sqft_living','sqft_lot','floors','yr_built','zipcode','price']]

In [142]:
house_data

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built,zipcode,price
0,3,1.00,1180,5650,1.0,1955,98178,221900.0
1,3,2.25,2570,7242,2.0,1951,98125,538000.0
2,2,1.00,770,10000,1.0,1933,98028,180000.0
3,4,3.00,1960,5000,1.0,1965,98136,604000.0
4,3,2.00,1680,8080,1.0,1987,98074,510000.0
...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,2009,98103,360000.0
21609,4,2.50,2310,5813,2.0,2014,98146,400000.0
21610,2,0.75,1020,1350,2.0,2009,98144,402101.0
21611,3,2.50,1600,2388,2.0,2004,98027,400000.0
21612,2,0.75,1020,1076,2.0,2008,98144,325000.0

In [143]:
house_data.describe()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built,zipcode,price
count,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04
mean,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,1971.005136,98077.939805,5.400881e+05
std,0.930062,0.770163,918.440897,4.142051e+04,0.539989,29.373411,53.505026,3.671272e+05
min,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1900.000000,98001.000000,7.500000e+04
25%,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,1951.000000,98033.000000,3.219500e+05
50%,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1975.000000,98065.000000,4.500000e+05
75%,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,1997.000000,98118.000000,6.450000e+05
max,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,2015.000000,98199.000000,7.700000e+06

In [144]:
house_data['bedrooms'].value_counts()

bedrooms
3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
33       1
Name: count, dtype: int64

In [145]:
house_data = house_data[house_data['bedrooms']<=11]

In [146]:
house_data['bedrooms'].value_counts()

bedrooms
3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
Name: count, dtype: int64

In [147]:
house_data['price_per_sqftlot'] = house_data['price'] / house_data['sqft_lot']
house_data['price_per_sqftlot']

C:\Users\Vedika\AppData\Local\Temp\ipykernel_16028\3994507306.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_data['price_per_sqftlot'] = house_data['price'] / house_data['sqft_lot']

0         39.274336
1         74.288870
2         18.000000
3        120.800000
4         63.118812
            ...
21608    318.302387
21609     68.811285
21610    297.852593
21611    167.504188
21612    302.044610
Name: price_per_sqftlot, Length: 21612, dtype: float64

In [148]:
house_data['price_per_sqftlot'].describe()

count    21612.000000
mean        88.965891
std         94.057346
min          0.163119
25%         33.333333
50%         59.222800
75%        107.598545
max       2027.208539
Name: price_per_sqftlot, dtype: float64

In [149]:
house_data['area_per_bhk'] = np.where(house_data['bedrooms'] != 0,  house_data['sqft_lot'] / house_data['bedrooms'], house_data['sqft_lot'])

C:\Users\Vedika\AppData\Local\Temp\ipykernel_16028\3297352385.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_data['area_per_bhk'] = np.where(house_data['bedrooms'] != 0,  house_data['sqft_lot'] / house_data['bedrooms'], house_data['sqft_lot'])

In [150]:
house_data['area_per_bhk'].describe()

count     21612.000000
mean       4745.810196
std       14432.501613
min         130.000000
25%        1520.000000
50%        2348.375000
75%        3375.000000
max      582397.000000
Name: area_per_bhk, dtype: float64

In [151]:
house_data = house_data[house_data['area_per_bhk'] > 300]

In [152]:
house_data.shape

(21559, 10)

In [153]:
house_data['price_per_sqftlot'].describe()

count    21559.000000
mean        87.960339
std         91.521753
min          0.163119
25%         33.308660
50%         59.021922
75%        107.014246
max       2027.208539
Name: price_per_sqftlot, dtype: float64

In [154]:
def bhk_outlier(df):
    df_final = pd.DataFrame()
    for key, subdf in df.groupby('zipcode'):
        m = np.mean(subdf.area_per_bhk)
        s = np.std(subdf.area_per_bhk)
        new_df = subdf[(subdf.area_per_bhk > (m-s)) & (subdf.area_per_bhk < (m+s))]
        df_final = pd.concat([df_final,new_df],ignore_index=True)
    return df_final

In [155]:
df_final = bhk_outlier(house_data)

In [156]:
df_final['area_per_bhk'].describe()

count     19030.000000
mean       3218.237755
std        4940.667538
min         300.666667
25%        1540.000000
50%        2267.750000
75%        3182.250000
max      100275.200000
Name: area_per_bhk, dtype: float64

In [157]:
df_final[df_final['area_per_bhk'] > 10000].shape

(774, 10)

In [158]:
df_final

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built,zipcode,price,price_per_sqftlot,area_per_bhk
0,4,1.00,1220,8075,1.0,1969,98001,240000.0,29.721362,2018.750000
1,4,2.50,2240,4648,2.0,2005,98001,287000.0,61.746988,1162.000000
2,4,2.50,3230,16171,2.0,2001,98001,480000.0,29.682765,4042.750000
3,3,2.50,2714,17936,2.0,2005,98001,465000.0,25.925513,5978.666667
4,4,2.50,2160,9528,2.0,1992,98001,360000.0,37.783375,2382.000000
...,...,...,...,...,...,...,...,...,...,...
19025,4,3.50,3390,3979,2.0,2014,98199,1054690.0,265.064086,994.750000
19026,4,2.50,2830,5932,2.0,2014,98199,1035290.0,174.526298,1483.000000
19027,4,4.25,4470,5884,2.0,2010,98199,2950000.0,501.359619,1471.000000
19028,4,3.50,3660,4760,2.0,2014,98199,1107460.0,232.659664,1190.000000
19029,4,3.25,3610,4000,2.0,2007,98199,1010800.0,252.700000,1000.000000

In [159]:
df_final['bathrooms'].value_counts()

bathrooms
2.50    4886
1.00    3254
1.75    2778
2.25    1802
2.00    1730
1.50    1245
2.75    1074
3.00     645
3.50     638
3.25     468
3.75     130
4.00     116
4.50      84
4.25      64
0.75      45
5.00      17
4.75      14
0.00       8
1.25       7
5.25       6
5.50       5
0.50       4
6.00       3
6.50       2
6.75       2
6.25       1
7.75       1
7.50       1
Name: count, dtype: int64

In [160]:
import math
df_final['bathrooms'] = df_final['bathrooms'].apply(lambda x: math.floor(x) if (x - math.floor(x)) < 0.5 else (math.floor(x)+1))

In [161]:
df_final.describe()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built,zipcode,price,price_per_sqftlot,area_per_bhk
count,19030.000000,19030.000000,19030.000000,19030.000000,19030.000000,19030.000000,19030.000000,1.903000e+04,19030.000000,19030.000000
mean,3.427535,2.319180,2083.043773,10714.629217,1.475145,1971.159905,98075.594693,5.267301e+05,83.418009,3218.237755
std,0.870982,0.847674,874.289269,16248.631855,0.513993,28.887312,53.292493,3.369415e+05,77.536730,4940.667538
min,0.000000,0.000000,290.000000,635.000000,1.000000,1900.000000,98001.000000,7.500000e+04,1.206705,300.666667
25%,3.000000,2.000000,1450.000000,5115.000000,1.000000,1953.000000,98031.000000,3.170000e+05,34.701111,1540.000000
50%,3.000000,2.000000,1940.000000,7560.000000,1.000000,1975.000000,98059.000000,4.469750e+05,59.254630,2267.750000
75%,4.000000,3.000000,2550.000000,10160.000000,2.000000,1996.000000,98117.000000,6.350000e+05,104.000000,3182.250000
max,11.000000,8.000000,9890.000000,501376.000000,3.500000,2015.000000,98199.000000,6.885000e+06,984.042553,100275.200000

In [162]:
df_final['floors'].value_counts()

floors
1.0    9520
2.0    7420
1.5    1663
3.0     292
2.5     131
3.5       4
Name: count, dtype: int64

In [163]:
df_final = df_final[df_final['floors'] < 3.5]

In [164]:
df_final['floors'].value_counts()

floors
1.0    9520
2.0    7420
1.5    1663
3.0     292
2.5     131
Name: count, dtype: int64

In [165]:
df_final.describe()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built,zipcode,price,price_per_sqftlot,area_per_bhk
count,19026.000000,19026.000000,19026.000000,19026.000000,19026.000000,19026.000000,19026.000000,1.902600e+04,19026.000000,19026.000000
mean,3.427415,2.318985,2082.858352,10716.057711,1.474719,1971.157889,98075.588458,5.265873e+05,83.359513,3218.757195
std,0.870370,0.847632,873.384491,16249.908964,0.513207,28.882865,53.296330,3.363758e+05,77.434603,4941.053177
min,0.000000,0.000000,290.000000,635.000000,1.000000,1900.000000,98001.000000,7.500000e+04,1.206705,300.666667
25%,3.000000,2.000000,1450.000000,5118.000000,1.000000,1953.000000,98031.000000,3.170000e+05,34.700795,1540.166667
50%,3.000000,2.000000,1940.000000,7560.000000,1.000000,1975.000000,98059.000000,4.468750e+05,59.240823,2268.000000
75%,4.000000,3.000000,2550.000000,10160.000000,2.000000,1996.000000,98117.000000,6.350000e+05,103.978148,3182.583333
max,11.000000,8.000000,9890.000000,501376.000000,3.000000,2015.000000,98199.000000,6.885000e+06,984.042553,100275.200000

In [166]:
df_final['yr_built'].value_counts()

yr_built
2014    469
2005    405
1977    388
2003    385
2004    381
       ...
1901     26
1902     23
1933     17
1934     15
1935     13
Name: count, Length: 116, dtype: int64

In [178]:
def price_outlier(df):
    remove_indices=[]
    for area, area_df in df.groupby('zipcode'):
        bhk_stats={}
        for bhk, bhk_df in area_df.groupby('bedrooms'):
            bhk_stats[bhk] = {
                'mean' : np.mean(bhk_df.price_per_sqftlot),
                'std' : np.std(bhk_df.price_per_sqftlot),
                'count' : bhk_df.shape[0]
            }
        for bhk,bhk_df in area_df.groupby('bedrooms'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                remove_indices = np.append(remove_indices, bhk_df[bhk_df.price_per_sqftlot < (stats['mean'])].index.values)
    return df.drop(remove_indices, axis='index')

price_outlier(df_final)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built,zipcode,price,price_per_sqftlot,area_per_bhk
0,4,1,1220,8075,1.0,1969,98001,240000.0,29.721362,2018.75
1,4,3,2240,4648,2.0,2005,98001,287000.0,61.746988,1162.00
2,4,3,3230,16171,2.0,2001,98001,480000.0,29.682765,4042.75
4,4,3,2160,9528,2.0,1992,98001,360000.0,37.783375,2382.00
9,4,3,2250,9091,1.0,1982,98001,305000.0,33.549665,2272.75
...,...,...,...,...,...,...,...,...,...,...
19021,4,4,4270,5800,2.0,1937,98199,1356920.0,233.951724,1450.00
19025,4,4,3390,3979,2.0,2014,98199,1054690.0,265.064086,994.75
19026,4,3,2830,5932,2.0,2014,98199,1035290.0,174.526298,1483.00
19028,4,4,3660,4760,2.0,2014,98199,1107460.0,232.659664,1190.00
19029,4,3,3610,4000,2.0,2007,98199,1010800.0,252.700000,1000.00

In [168]:
df_final.describe()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built,zipcode,price,price_per_sqftlot,area_per_bhk
count,19026.000000,19026.000000,19026.000000,19026.000000,19026.000000,19026.000000,19026.000000,1.902600e+04,19026.000000,19026.000000
mean,3.427415,2.318985,2082.858352,10716.057711,1.474719,1971.157889,98075.588458,5.265873e+05,83.359513,3218.757195
std,0.870370,0.847632,873.384491,16249.908964,0.513207,28.882865,53.296330,3.363758e+05,77.434603,4941.053177
min,0.000000,0.000000,290.000000,635.000000,1.000000,1900.000000,98001.000000,7.500000e+04,1.206705,300.666667
25%,3.000000,2.000000,1450.000000,5118.000000,1.000000,1953.000000,98031.000000,3.170000e+05,34.700795,1540.166667
50%,3.000000,2.000000,1940.000000,7560.000000,1.000000,1975.000000,98059.000000,4.468750e+05,59.240823,2268.000000
75%,4.000000,3.000000,2550.000000,10160.000000,2.000000,1996.000000,98117.000000,6.350000e+05,103.978148,3182.583333
max,11.000000,8.000000,9890.000000,501376.000000,3.000000,2015.000000,98199.000000,6.885000e+06,984.042553,100275.200000

In [170]:
df_final = df_final[df_final['price_per_sqftlot'] < 400]

In [175]:
df_final = df_final[df_final['price_per_sqftlot'] > 10]

In [177]:
df_final.describe()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built,zipcode,price,price_per_sqftlot,area_per_bhk
count,18404.000000,18404.000000,18404.000000,18404.000000,18404.000000,18404.000000,18404.000000,1.840400e+04,18404.000000,18404.000000
mean,3.438655,2.318898,2084.649533,9125.961910,1.468431,1970.820039,98076.134319,5.264554e+05,81.332592,2714.505368
std,0.868766,0.848695,872.836584,7889.824816,0.506393,28.895040,53.625943,3.338544e+05,66.623309,2245.422666
min,0.000000,0.000000,370.000000,801.000000,1.000000,1900.000000,98001.000000,8.000000e+04,10.029867,305.000000
25%,3.000000,2.000000,1460.000000,5120.000000,1.000000,1952.000000,98032.000000,3.165000e+05,35.870903,1545.000000
50%,3.000000,2.000000,1940.000000,7500.000000,1.000000,1974.000000,98059.000000,4.460000e+05,60.121198,2250.000000
75%,4.000000,3.000000,2550.000000,9968.250000,2.000000,1995.000000,98117.000000,6.380000e+05,103.562376,3087.062500
max,11.000000,8.000000,9890.000000,167869.000000,3.000000,2015.000000,98199.000000,6.885000e+06,399.646331,41967.250000

In [184]:
def area_wise_price(df):
    ind = []
    for area, area_df in df.groupby('zipcode'):
        price_stat = {}
        for bhk,bhk_df in area_df.groupby('bedrooms'):
            price_stat[bhk] = {
                'mean' : np.mean(bhk_df.price),
                'std' : np.std(bhk_df.price),
                'count' : bhk_df.shape[0]
            }
        for bhk,bhk_df in area_df.groupby('bedrooms'):
            stats = price_stat.get(bhk-1)
            if stats and stats['count']>5:
                ind = np.append(ind, bhk_df[bhk_df.price < (stats['mean'])].index.values)
    return df.drop(ind, axis='index')

df_final = area_wise_price(df_final)

In [185]:
df_final

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built,zipcode,price,price_per_sqftlot,area_per_bhk
1,4,3,2240,4648,2.0,2005,98001,287000.0,61.746988,1162.000000
2,4,3,3230,16171,2.0,2001,98001,480000.0,29.682765,4042.750000
3,3,3,2714,17936,2.0,2005,98001,465000.0,25.925513,5978.666667
4,4,3,2160,9528,2.0,1992,98001,360000.0,37.783375,2382.000000
5,3,2,1450,11204,1.0,2003,98001,230000.0,20.528383,3734.666667
...,...,...,...,...,...,...,...,...,...,...
19024,4,3,2950,7024,2.0,2012,98199,921800.0,131.235763,1756.000000
19025,4,4,3390,3979,2.0,2014,98199,1054690.0,265.064086,994.750000
19026,4,3,2830,5932,2.0,2014,98199,1035290.0,174.526298,1483.000000
19028,4,4,3660,4760,2.0,2014,98199,1107460.0,232.659664,1190.000000
19029,4,3,3610,4000,2.0,2007,98199,1010800.0,252.700000,1000.000000

In [186]:
df_final.to_csv('Cleaned_data.csv')

In [207]:
X = df_final.drop(columns=['price','price_per_sqftlot'])
y = df_final['price']

In [208]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [209]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state=0)

In [210]:
column_trns = make_column_transformer((OneHotEncoder(sparse=False),['zipcode']),remainder= 'passthrough')

In [211]:
scaler = StandardScaler()

In [212]:
lr = LinearRegression()

In [213]:
pipe = make_pipeline(column_trns, scaler, lr)

In [214]:
pipe.fit(X_train,y_train)

c:\Users\Vedika\Desktop\ML\sklearn\.venv\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['zipcode'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [215]:
y_pred_lr = pipe.predict(X_test)

In [216]:
r2_score(y_test,y_pred_lr)

0.7811338206480662

Trying lasso

In [217]:
lasso = Lasso()

In [218]:
pipe = make_pipeline(column_trns,scaler,lasso)
pipe.fit(X_train,y_train)
y_pred_lasso = pipe.predict(X_test)
r2_score(y_test,y_pred_lasso)

c:\Users\Vedika\Desktop\ML\sklearn\.venv\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

c:\Users\Vedika\Desktop\ML\sklearn\.venv\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.897e+12, tolerance: 1.484e+11
  model = cd_fast.enet_coordinate_descent(

0.7812207607022783

In [219]:
ridge = Ridge()

In [220]:
pipe = make_pipeline(column_trns,scaler,ridge)
pipe.fit(X_train,y_train)
y_pred_rdg = pipe.predict(X_test)
r2_score(y_test,y_pred_rdg)

c:\Users\Vedika\Desktop\ML\sklearn\.venv\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.7812211657579309

In [221]:
import pickle

In [222]:
pickle.dump(pipe,open('House_data_model.pkl','wb'))

In [223]:
pipe

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['zipcode'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])